@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/*
@layer base {
    :root {

      --color-primary: rgb(93, 14, 180);
      --color-secondary: rgb(225, 29, 72);

      --bg-color: rgb(232, 240, 248);
  }
}
 */

body {
  font-family: "Space Mono", monospace, Helvetica, sans-serif;
  /* background: var(--bg-color); */
  @apply 
  text-gray-50
  bg-black bg-[radial-gradient(circle_at_center,_var(--tw-gradient-stops))] from-blue-700 to-black;
} 
 

/*
h1, h2 { @apply font-bold text-primary text-lg; }



button {
  @apply 
    px-3 py-2 
    rounded-sm 
    flex justify-between items-center gap-2
    text-sm;
}
button:hover {
  @apply bg-opacity-90;
}
.btn-primary {
  @apply bg-primary text-white;
}
.btn-secondary {
  @apply bg-gray-200 text-gray-900;
} 

*/
